
.navbar {
  background-color: grey;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-title {
  color: #ecf0f1;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
}

.navbar-links {
  list-style: none;
  display:flex;
  gap: 1.5rem;
  margin: 0;
  padding: 0;
}

.navbar-links li a {
  color: #ecf0f1;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

.navbar-links li a:hover {
  color: #f39c12;
}
